{% extends 'base.html' %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block content %}
<h1>{{ movie.title }}</h1>
<hr>
<div style="display: flex;">
<p style="margin-right: 30px;"><img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="img" style="width: 500px;"></p>
  <div>
  <p style="font-size: 35px;">줄거리</p>
  <p style="font-size: 20px;">{{ movie.overview }}</p>
  <hr>
  <p style="font-size: 20px;">개봉일</p><p>
  {{ date_str1 }}{{ date_str2 }}{{ date_str3 }}{{ date_str4 }}년
  {{ date_str5 }}{{ date_str6 }}월
  {{ date_str7 }}{{ date_str8 }}일</p>
  <p>
  <hr>
  {% comment %} <p><span style="font-size: 20px;">개봉일 </span><span>{{ movie.released_date }}</span><p> {% endcomment %}
  <p style="font-size: 20px;">관객수</p>
  <p>{{ movie.popularity }}K</p>
  <hr>
  <p style="font-size: 20px;">평점</p>
  <p>{{ movie.vote_avg }}</p>
  <hr>
  <p id="genresList" style="font-size: 20px;">장르</p>
  <p>{{ movie.genres|slice:"2:-2"|cut:"'" }}</p>
  </div>
</div>
<hr>
{% if reviews %}
  <p>{{ reviews|length }}개의 댓글이 있습니다.</p>
{% else %} 
<p>0개의 댓글이 있습니다</p>
{% endif %}
{% if request.user.is_authenticated %}
<form action="{% url 'movies:movie_review_create' movie.pk %}" method="POST">
  {% csrf_token %}
  {{ review_form }}
  <input type="submit" value="Enter">
</form>
<br>
{% endif %}
{% for review in reviews %}

<hr>
  <p>작성자 : {{ review.user }}</p> 
  <p>댓글내용 : {{ review.content }}</p> 
  <p>평점 : {{ review.get_rank_display }}</p>
    <p>생성 : {{ review.created_at | date:'Y년 m월 d일 h시 i분'}} / 수정 : {{ review.updated_at | date:'Y년 m월 d일 h시 i분'}}&nbsp&nbsp</p>
  {% if user == review.user %}
    <div style="display: flex;">
    <button class="review-update-btn btn-gold" data-review-id="{{ review.pk }}" style="width: 150px; height: 40px; padding: 10px;">댓글수정</button>
    &nbsp&nbsp&nbsp
    <form action="{% url 'movies:movie_review_delete' movie.pk review.pk %}" method="POST" class="d-inline">
      {% csrf_token %}
        <button class="btn-gold" style="width: 150px; height: 40px; padding: 10px;">Delete</button>
    </form>
    </div>
    <form class="review-form review-form-{{ review.pk }}" data-form-id="{{ review.pk }}" data-movie-id="{{ movie.pk }}" action="{% url 'movies:movie_review_update' movie.pk review.pk %}" method="POST" style="display: none;">    
      {% csrf_token %}
      <input type="text" class="review-input-{{ review.pk }}" name="content" maxlength="100" required="" value={{ review.content }} size=55 >
      <select class="review-input-{{ review.pk }}" name="rank" value={{ review.rank }}>
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option value="5">★★★★★</option>
      </select>
      <button class="btn-gold review-btn-{{ review.pk }}" style="width: 150px; height: 40px; padding: 10px; margin-top: 10px;">수정확인</button>
    </form>
  {% endif %}
{% endfor %}
<hr>

<div style="display: flex; width: 700px; justify-content: space-between;">
<a href="{% url 'movies:movie_index' %}">
<button class="btn-gold">BACK</button>
</a>

{% endblock content %}
{% block script %}
<script>
  const buttons = document.querySelectorAll('.review-update-btn')
  const forms = document.querySelectorAll('.review-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  buttons.forEach(button => {
    button.addEventListener('click', function (event) {
      event.preventDefault()
      const reviewId = event.target.dataset.reviewId
      const reviewForm = document.querySelector(`.review-form-${reviewId}`)
      if (reviewForm.style.display) {
        reviewForm.style.display = "";
      } else {
        reviewForm.style.display = "none";
      }
      console.log('!!!!')
      //document.getElementById(id).style.visibility = "visible";
    })
  })
/*
  forms.forEach(form => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const formId = event.target.dataset.formId
      const postId = event.target.dataset.postId
      const reviewInput = form.querySelector(`.review-input-${ formId }`)
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/community/${postId}/reviews/${formId}/update/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then(res => {
      const review_tmp = res.data.review_form
      console.log(event)
      console.log(res)
      console.log(review_tmp)
      })
      .catch(err => {
        console.log(err.response)
      })
    })
  })*/
</script>
{% endblock script %}