{% extends 'base.html' %}
{% block css %}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
	box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;
}
html,
body{
	min-height: 100%;
}

.container-carousel{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 30s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 260px;
	left: 10px;
	top: 10px;
	{% comment %} background: black; {% endcomment %}
	overflow: hidden;
	{% comment %} border: solid 5px black; {% endcomment %}
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(36deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(72deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(108deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(144deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(180deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(216deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(252deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(288deg) translateZ(288px);}
#carousel figure:nth-child(10) { transform: rotateY(324deg) translateZ(288px);}

img{
	{% comment %} -webkit-filter: grayscale(1); {% endcomment %}
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(0.95, 0.95);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(-360deg);
	}
}
{% endblock css %}
{% block content %}
<h1>&nbsp&nbsp{{ page_name }}</h1>
<br>
<h3 style="font-weight: bold;">&nbsp&nbsp&nbsp&nbsp{{ request.user.username }}님의 연령대에 추천하는 영화는??</h3>
<div style="display: flex; width:95%; justify-content: center; margin-left: 30px;">
  <div style="margin-top: 50px;">
    <img src="{{ request.user.profile_img.url }}"  alt="profile_img" style="width: 255px; height: 275px;">
    <div class="card" style="color: rgba(223,190,106,0.7); background-color: #231f20; border: none;">
      <div class="card-body" style="font-weight: bold;">
          <h3 class="card-title" style="font-weight: bold;">{{ request.user.username }}님의 프로필 사진</h3>
          <p class="card-text">예상 나이 : {{ age_average }}세</p>
          <p class="card-text"><small>예상 성별 : {{ gender }}</small></p>
      </div>
    </div>  
  </div>

  <div class="container-carousel" style="margin-bottom: 100px;">
    <div id="carousel">
      {% for carousel_movie in carousel_movies %}
        <figure>
        {% if tmdb %}
        <a href="{% url 'movies:tmdb_detail' carousel_movie.title %}">
        {% else %}
        <a href="{% url 'movies:movie_detail' carousel_movie.pk %}">
        {% endif %}
        <img src="https://image.tmdb.org/t/p/w500/{{ carousel_movie.poster_path }}" alt=""style="width: 186px;	height: 200px; border: solid 5px black;">
        <div style="display: flex; justify-content: center; margin-top: 10px;">
          <h6 style="color: rgba(223,190,106,0.7);">{{ carousel_movie.title }}</h6>
        </div>
        </a>
        </figure>
      {% endfor %}
    </div>
  </div>
</div>
<br><br>
<div style="width: 95%; justify-content: center; margin-left: 30px;">
  <div style="display: flex;">
    <div style="width: 50%;">영화 제목</div>
    <div style="width: 20%;">장르</div>
    <div style="width: 20%;">관객수</div>
    <div style="width: 20%;">개봉일</div>
    <div style="width: 10%;">평점</div>
  </div>
  <hr>
  {% for movie in paginators %}
    <div style="display: flex;">
      {% comment %} <p style="width: 10%;">{{ movie.pk }}</p> {% endcomment %}
      <p style="width: 50%;"><a href="{% url 'movies:movie_detail' movie.pk %}">{{ movie.title }}</a></p>
      <p style="width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;">
      {{ movie.genre_ids|cut:"'"|cut:"["|cut:"]" }}</p>
      <p style="width: 20%;">{{ movie.popularity }}</p>
      <p style="width: 20%;">{{ movie.release_date|date:'Y-m-d' }}</p>
      <p style="width: 10%;">{{ movie.vote_average }}</a></p>
    </div>
    <br>
  {% empty %}
  없음
  {% endfor %}
  <div class="row mt-2">
    <div class="col-12">
      <nav>
        <ul class="pagination justify-content-center">
          {% if paginators.has_previous %}
            <li class="page-item">
              <a class="page-link btn-gold" href="?page={{ paginators.previous_page_number }}"><</a>
            </li>
            
          {% else %}
          <li class="page-item disabled">
            <a class="page-link btn-gold" href="#"><</a>
          </li>

          {% endif %}

          {% for i in paginators.paginator.page_range %}
            {% if paginators.number == i %}
              <li class="page-link btn-gold active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="page-link btn-gold"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginators.has_next %}
            <li class="page-item">
              <a class="page-link btn-gold" href="?page={{ paginators.next_page_number }}">></a>
            </li>

          {% else %}
          <li class="page-item disabled">
            <a class="page-link btn-gold" href="#">></a>
          </li>

          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  </div>

{% endblock content %}
{% block script %}
<script>
$(document).ready(function(){

$('#itemslider').carousel({ interval: 3000 });

$('.carousel-showmanymoveone .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.addClass("cloneditem-"+(i))
.appendTo($(this));
}
});
});
</script>
{% endblock script %}