{% extends 'base.html' %}
{% block css %}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
	box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;
}
html,
body{
	min-height: 100%;
}

.container-carousel{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 30s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 260px;
	left: 10px;
	top: 10px;
	{% comment %} background: black; {% endcomment %}
	overflow: hidden;
	{% comment %} border: solid 5px black; {% endcomment %}
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(36deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(72deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(108deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(144deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(180deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(216deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(252deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(288deg) translateZ(288px);}
#carousel figure:nth-child(10) { transform: rotateY(324deg) translateZ(288px);}

img{
	{% comment %} -webkit-filter: grayscale(1); {% endcomment %}
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(0.95, 0.95);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(-360deg);
	}
}
{% endblock css %}
{% block content %}
<h1>{{ page_name }} TOP10</h1>
<hr>
{% if movies %}
<div class="container-carousel" style="margin-bottom: 200px;">
		<div id="carousel">
      {% for movie in movies %}			
				<figure>
				<h6 style="color: rgba(223,190,106,0.7); display: flex; justify-content: center;">NO. {{ forloop.counter }}</h6>
				{% if tmdb %}
				<a href="{% url 'movies:tmdb_detail' movie.title %}">
				{% else %}
				<a href="{% url 'movies:movie_detail' movie.pk %}">
				{% endif %}
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt=""style="width: 186px;	height: 200px; border: solid 5px black;">
        <div style="display: flex; justify-content: center; margin-top: 10px;">
          <h6 style="color: rgba(223,190,106,0.7);">{{ movie.title }}</h6>
        </div>
				</a>
        </figure>
      {% endfor %}
		</div>
	</div>
	<br>
	<br>
	<div style=" margin-bottom: 100px;">
	<div style="display: flex;">
		<div style="width: 10%;">순위</div>
		<div style="width: 50%;">영화 제목</div>
		<div style="width: 20%;">장르</div>
		<div style="width: 20%;">관객수</div>
		<div style="width: 10%;">평점</div>
	</div>
	<hr>
	{% for movie in movies %}	
	<div style="display: flex;margin-bottom: 10px;">
		<div style="width: 10%;">{{ forloop.counter }}</div>
		<div style="width: 50%;">
		{% if tmdb %}
				<a href="{% url 'movies:tmdb_detail' movie.title %}">
				{% else %}
				<a href="{% url 'movies:movie_detail' movie.pk %}">
				{% endif %}{{ movie.title }}</a></div>
		<div style="width: 20%;white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;">{{ movie.genre_ids|cut:"'"|cut:"["|cut:"]" }}</div>
		<div style="width: 20%;">{{ movie.popularity }}</div>
		<div style="width: 10%;">{{ movie.vote_average }}</div>
		</div>
	{% endfor %}
</div>
{% else %}
<h1>요청된 값이 없습니다.</h1>
{% endif %}
</div>
{% endblock content %}
{% block script %}
<script>
</script>
{% endblock script %}