{% extends 'base.html' %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">
          <div class="item active"  style="height: 350px;">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="{% url 'movies:movie_detail' movies1_start.pk %}"><img src="https://image.tmdb.org/t/p/w500/{{ movies1_start.poster_path }}" class="img-responsive center-block"  style="border: solid 1px;
              width: 300px;
              height: 250px;
              "></a>
              <h4 class="text-center" style="margin-top:10px;">{{ movies1_start.title }}</h4>
            </div>
          </div>
        {% for movie_1 in movies_1 %}
          <div class="item"  style="height: 350px;">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="{% url 'movies:movie_detail' movie_1.pk %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie_1.poster_path }}" class="img-responsive center-block"  style="border: solid 1px;width: 300px;
              height: 250px;"></a>
              <h4 class="text-center" style="margin-top:10px;">{{ movie_1.title }}</h4>
            </div>
          </div>
        {% endfor %}
        </div>
        <div id="slider-control">
        <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png" alt="Left" class="img-responsive"></a>
        <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="http://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="Right" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 95%; justify-content: center; margin-left: 30px;">
<hr>
	<div style="display: flex;">
		{% comment %} <div style="width: 10%;">순위</div> {% endcomment %}
		<div style="width: 50%;">영화 제목</div>
		<div style="width: 20%; margin-right: 10px;">장르</div>
		<div style="width: 20%;">관객수</div>
		<div style="width: 10%;">평점</div>
	</div>
	<hr>
  {% for movie in paginators %}
    <div style="display: flex;">
      {% comment %} <p style="width: 10%;">{{ movie.pk }}</p> {% endcomment %}
      <p style="width: 50%;"><a href="{% url 'movies:movie_detail' movie.pk %}">{{ movie.title }}</a></p>    
      <p style="width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;">
      {{ movie.genre_ids|slice:"2:-2"|cut:"'" }}</p>
      <p style="width: 20%;">{{ movie.popularity }}</p>
      <p style="width: 10%;">{{ movie.vote_average }}</a></p>
    </div>
    <br>
  {% endfor %}
  <div class="row mt-2">
    <div class="col-12">
      <nav>
        <ul class="pagination justify-content-center">
          {% if paginators.has_previous %}
            <li class="page-item">
              <a class="page-link btn-gold" href="?page={{ paginators.previous_page_number }}" style="padding: 18px 30px 18px;"><</a>
            </li>

          {% else %}
          <li class="page-item disabled">
            <a class="page-link btn-gold" href="#" style="width: 20px; padding: 18px 30px 18px; background-color: rgba(223,190,106,0.4); border: 1px solid rgba(223,190,106,0.3);"><</a>
          </li>

          {% endif %}

          {% if paginators.number|add:'-4' > 1 %}
            <li class="btn-gold" style="padding: 18px 30px 18px;">…</li>
          {% endif %}

          {% for i in paginators.paginator.page_range %}
            {% if paginators.number == i %}
              <li class="page-link btn-gold active" style="background-color: rgba(223,190,106,0.4); padding: 18px 30px 18px;">{{ i }}</li>
            {% elif i > paginators.number|add:'-3' and i < paginators.number|add:'3' %}
              <li class="page-item"><a class="page-link btn-gold" href="?page={{ i }}" style="padding: 18px 30px 18px;">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginators.paginator.num_pages > paginators.number|add:'4' %}
            <li class="btn-gold" style="padding: 18px 30px 18px;">…</li>
          {% endif %}

          {% if paginators.has_next %}
            <li class="page-item">
              <a class="page-link btn-gold" href="?page={{ paginators.next_page_number }}" style="padding: 18px 30px 18px;">></a>
            </li>

          {% else %}
          <li class="page-item disabled">
            <a class="page-link btn-gold" href="#" style="padding: 18px 30px 18px; background-color: rgba(223,190,106,0.4); border: 1px solid rgba(223,190,106,0.3);">></a>
          </li>

          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
$(document).ready(function(){

$('#itemslider').carousel({ interval: 3000 });

$('.carousel-showmanymoveone .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.addClass("cloneditem-"+(i))
.appendTo($(this));
}
});
});
</script>
{% endblock script %}