{% extends 'base.html' %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="carousel carousel-showmanymoveone slide" id="itemslider">
          <div class="carousel-inner">

            <div class="item active">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="{% url 'movies:movie_detail' movies1_start.pk %}"><img src="https://image.tmdb.org/t/p/w500/{{ movies1_start.poster_path }}" class="img-responsive center-block"></a>
                <h4 class="text-center" style="margin-top:10px;">{{ movies1_start }}</h4>
              </div>
            </div>

          {% for movie in movies %}
            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="img-responsive center-block"></a>
                <h4 class="text-center" style="margin-top:10px;">{{ movie.title }}</h4>
              </div>
            </div>
          {% endfor %}


          </div>

          <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png" alt="Left" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="http://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="Right" class="img-responsive"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
<script>
$(document).ready(function(){

$('#itemslider').carousel({ interval: 3000 });

$('.carousel-showmanymoveone .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.addClass("cloneditem-"+(i))
.appendTo($(this));
}
});
});
</script>
{% endblock script %}