{% extends 'base.html' %}
{% block css %}
{% endblock css %}
{% block content %}
<h1>{{ person.username }}님이 평점을 남긴 영화</h1>
<hr>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
{% comment %} 평점 남긴 영화들 {% endcomment %}
{% for movie in movies %}
  <div style="text-align: center; width: 20%; height: 430px;">
    <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" style="height: 300px; width: 200px; border: solid 1px;"></a>
    <h4 style="margin-top:10px;">{{ movie.title }}</h4>
    <p><a href="{% url 'movies:ranked_similar' movie.movie_id %}"><button class="btn-gold" style="width: 250px; height: 40px; padding: 10px;">유사한 작품 찾아보기</button></a></p>
  </div>
{% empty %}
<p>평점을 남긴 영화가 없습니다.</p>
</div>
{% endfor %}
{% endblock content %}
{% block script %}
{% endblock script %}