{% extends 'base.html' %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block content %}
<h1>Detail</h1>
<p>{{ post.movie_title }}</p>
<p>{{ post.title }}</p>
<p>{{ post.content }}</p>
<p>{{ post.rank }}</p>
<div style="display: flex; width: 700px; justify-content: space-between;">
<a href="{% url 'community:community_index' %}">
<button class="btn-gold">BACK</button>
</a>
<a href="{% url 'community:community_update' post.pk %}">
<button class="btn-gold">UPDATE</button>
</a>
<form action="{% url 'community:community_delete' post.pk %}" method="POST">
{% csrf_token %}
<button class="btn-gold">DELETE</button>
</form>
</div>
{% endblock %}