{% extends 'base.html' %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block content %}

<h1>{{ post.title }}</h1> 
<p>&nbsp작성자 : <span><a href="{% url 'accounts:profile' post.user%}"  style="width: 10%;">{{ post.user }}</a></span></p>
<br>
{% if post.content|length < 1099 %}
<p style="border: solid 1px; height: 300px; padding: 10px; word-wrap: break-word; font-size: 20px;">{{ post.content }}</p>
{% else %}
<p style="border: solid 1px; padding: 10px; word-wrap: break-word; font-size: 20px;">{{ post.content }}</p>
{% endif %}
<p>작성일자 : {{ post.created_at | date:'Y년 m월 d일 h시 i분' }}</p>
<p>수정일자 : {{ post.updated_at | date:'Y년 m월 d일 h시 i분' }}</p>
{{post.content|length}}

{% if comments %}
  <p>{{ comments|length }}개의 댓글이 있습니다.</p>
{% endif %}
<ul>
  {% for comment in comments %}
    {{ comment.user }} {{ comment.content|linebreaks }} 생성 : {{ comment.created_at}} / 수정 : {{comment.updated_at}}

    {% if user == comment.user %}
      <form action="{% url 'community:community_comment_update' post.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Update">
      </form>
      <form action="{% url 'community:community_comment_delete' post.pk comment.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>
    {% endif %}
    <br><br>
  {% endfor %}
</ul>
<hr>
{% if request.user.is_authenticated %}
  <form action="{% url 'community:community_comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Enter">
  </form>
{% else %}
  <a href="{% url 'accounts:login' %}">login</a>
{% endif %}

<div style="display: flex; width: 700px; justify-content: space-between;">
<a href="{% url 'community:community_index' %}">
<button class="btn-gold">BACK</button>
</a>
{% if request.user == post.user %}
  <a href="{% url 'community:community_update' post.pk %}">
  <button class="btn-gold">UPDATE</button>
{% endif %}
{% endblock %}
<a href="{% url 'community:community_update' post.pk %}">
<button class="btn-gold">UPDATE</button>
</a>
<form action="{% url 'community:community_delete' post.pk %}" method="POST">
{% csrf_token %}
<button class="btn-gold">DELETE</button>
</form>
{% endif %}
</div>
{% endblock %} {% endcomment %}