{% extends 'base.html' %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block content %}
<div style="display: flex; justify-content: space-between;">
  <h1>{{ post.title }}</h1> 
  <div>
    <form class="like-form" data-post-id="{{ post.pk }}">
      {% csrf_token %}
      {% if user in post.like_users.all %}
        <button id="like-button-{{ post.pk }}">좋아요 취소</button>
      {% else %}
        <button id="like-button-{{ post.pk }}">좋아요</button>
      {% endif %}
    </form>
    <p>
      <span id="like-count-{{ post.pk }}">{{ post.like_users.all|length }}</span>명이 이 글을 좋아합니다.
    </p>
  </div>
</div>

<hr>

{% if post.community_img %}
<img src="{{ post.community_img.url }}" alt="community_img" style="width:500px; height:300px;">
<br><br>
{% endif %}
<div style="display: flex; justify-content: space-between;">
{% comment %} <p>&nbsp작성자 : <span><a href="{% url 'accounts:profile' post.user%}"  style="width: 10%;">{{ post.user }}</a></span></p> {% endcomment %}
{% if post.content|length < 1099 %}
<p style="word-wrap: break-word; font-size: 20px; width: 100%;">{{ post.content }}</p>
{% comment %} <p style="border: solid 1px; height: 300px; padding: 10px; word-wrap: break-word; font-size: 20px;">{{ post.content }}</p> {% endcomment %}
{% else %}
<p style="word-wrap: break-word; font-size: 20px;">{{ post.content }}</p>
{% comment %} <p style="border: solid 1px; padding: 10px; word-wrap: break-word; font-size: 20px;">{{ post.content }}</p> {% endcomment %}
{% endif %}
</div>
<p>작성일자 : {{ post.created_at | date:'Y년 m월 d일 h시 i분' }}</p>
<p>수정일자 : {{ post.updated_at | date:'Y년 m월 d일 h시 i분' }}</p>
<hr>
<div style="display: flex; justify-content: space-between;">
<div>
{% if comments %}
  <p>{{ comments|length }}개의 댓글이 있습니다.</p>
{% else %} 
<p>0개의 댓글이 있습니다</p>
{% endif %}

</div>
<div style="display: flex; align-items: end;">  
<div>
</div>
</div>
</div>
{% comment %} 댓글작성 {% endcomment %}
  {% if request.user.is_authenticated %}
  <form action="{% url 'community:community_comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Enter">
  </form>
{% endif %}


<div class="community-comments">
{% comment %} 댓글내용 {% endcomment %}
{% for comment in comments %}
    <hr>
  <p style="margin-top: 10px;">작성자 : {{ comment.user }}</p> 
  <p>댓글내용 : {{ comment.content }}</p> 
  <p>생성 : {{ comment.created_at | date:'Y년 m월 d일 h시 i분'}} / 수정 : {{comment.updated_at | date:'Y년 m월 d일 h시 i분'}}&nbsp&nbsp</p>

  {% comment %} 댓글내용 수정 {% endcomment %}
  {% if user == comment.user %}
    <div style="display: flex;">
    <button class="comment-update-btn btn-gold" data-comment-id="{{ comment.pk }}" style="width: 150px; height: 40px; padding: 10px;">댓글수정</button>
    &nbsp&nbsp&nbsp
    <form action="{% url 'community:community_comment_delete' post.pk comment.pk %}" method="POST" class="d-inline">
      {% csrf_token %}
        <button class="btn-gold" style="width: 150px; height: 40px; padding: 10px;">Delete</button>
    </form>
    </div>
    <form class="comment-form comment-form-{{ comment.pk }}" data-form-id="{{ comment.pk }}" data-post-id="{{ post.pk }}" action="{% url 'community:community_comment_update' post.pk comment.pk %}" method="POST" style="display: none;">    
      {% csrf_token %}
      <input type="text" class="comment-input-{{ comment.pk }}" name="content" maxlength="100" required="" value={{ comment.content }} size=55 >
      <button class="btn-gold comment-btn-{{ comment.pk }}" style="width: 150px; height: 40px; padding: 10px; margin-top: 10px;">수정확인</button>
    </form>
  {% endif %}
{% endfor %}
</div>

<hr>
<div style="display: flex; width: 700px; justify-content: space-between;">
  <a href="{% url 'community:community_index' %}">
  <button class="btn-gold">BACK</button>
  </a>

  {% if request.user == post.user %}
  <a href="{% url 'community:community_update' post.pk %}">
  <button class="btn-gold">UPDATE</button></a>
  <form action="{% url 'community:community_delete' post.pk %}" method="POST">
  {% csrf_token %}
  <button class="btn-gold">DELETE</button>
  </form>
  {% endif %} 
</div> 
{% endblock %}

{% block script %}
<script>
  {% comment %} 댓글 작성 {% endcomment %}

  {% comment %} 댓글 수정 {% endcomment %}

  const buttons = document.querySelectorAll('.comment-update-btn')
  const formsUpdate = document.querySelectorAll('.comment-form')
  const csrftokenUpdate = document.querySelector('[name=csrfmiddlewaretoken]').value

  buttons.forEach(button => {
    button.addEventListener('click', function (event) {
      event.preventDefault()
      const commentId = event.target.dataset.commentId
      const commentForm = document.querySelector(`.comment-form-${commentId}`)
      if (commentForm.style.display) {
        commentForm.style.display = "";
      } else {
        commentForm.style.display = "none";
      }
      console.log('!!!!')
    })
  })

  {% comment %} 좋아요 {% endcomment %}

  const formsLike = document.querySelectorAll('.like-form')
  const csrftokenLike = document.querySelector('[name=csrfmiddlewaretoken]').value
  formsLike.forEach(form => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const postId = event.target.dataset.postId

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/community/${postId}/likes/`,
        headers: {'X-CSRFToken': csrftokenLike},
      })
        .then(response => {
          const likes = response.data.likes
          const likeButton = document.querySelector(`#like-button-${postId}`)
          const likeCount = document.querySelector(`#like-count-${postId}`)
          const count = response.data.count

          if (likes === true) {
            likeButton.innerText = '좋아요 취소'
          } else {
            likeButton.innerText = '좋아요'
          }
          likeCount.innerText = count
        })
    })
  })
</script>
{% endblock script %}