{% extends 'base.html' %}
{% block content %}
<h1>회원정보수정</h1>
<hr>
<form action="{% url 'accounts:change' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{% comment %} {{ form.as_p }} {% endcomment %}
<p><label for="id_email">이메일:</label> <input type="email" name="email" value="{{ user.email }}" maxlength="254" id="id_email"></p>
<br>
<p><label for="id_profile_img">프로필사진:&nbsp</label>
{% if user.profile_img %}
<a href="http://127.0.0.1:8000/media/{{ user.profile_img }}">{{ user.profile_img }}</a>
{% else %}
없음
{% endif %}
</p>
<div>
<input type="checkbox" name="profile_img-clear" id="profile_img-clear_id">
<label for="profile_img-clear_id">사진삭제</label><br>
</div>
<br><p>
프로필사진 변경:
<input type="file" name="profile_img" accept="image/*" id="id_profile_img"></p>
<br>
<div style="display: flex;">
<button class="btn-gold">정보수정</button>
&nbsp&nbsp&nbsp
<a href="{% url 'accounts:password' %}">
<button type="button" class="btn-gold">비밀번호 변경</button>
</a>
</div>
</form>
{% endblock %}