{% extends 'base.html' %}
{% block content %}
<h1>회원정보수정</h1>
<hr>
<form action="{% url 'accounts:change' %}" method="POST">
{% csrf_token %}
{{ form.as_p }}
{% comment %} <p><label for="id_password1">Password:</label>
<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"> 
</p>
<p><label for="id_password2">Password confirmation:</label> 
<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
</p>
<p><label for="id_email">Email: </label>
<input type="text" name="email" maxlength="150" autofocus="" required="" id="id_email"> 
</p> {% endcomment %}
<button class="btn-gold">change</button>
</form>
{% endblock %}