{% extends 'base.html' %}
{% block content %}

<h1>{{ person.username }}</h1>
<span>게시글 : {{ person.post_set.all|length }}</span>
&nbsp&nbsp&nbsp
<span>followers : {{ person.followers.all|length }}</span>
&nbsp&nbsp&nbsp
<span>followings : {{ person.followings.all|length }}</span>
<br>
<span>e-mail : {{ person.email }}</span>
<br>
<br>
{% if request.user.is_authenticated and request.user != person %}
  <form action="{% url 'accounts:follow' person.username %}" method="POST">
    {% csrf_token %}
    {% if request.user in person.followers.all %}
      <button>Unfollow</button>
    {% else %}
      <button>Follow</button>
    {% endif %}
  </form>
{% endif %}
<h3>{{ person.username }}가 작성한 글</h3>
{% for post in person.post_set.all %}
<p><a href="{% url 'community:community_detail' post.pk %}">{{ post.title }}</a></p>
{% endfor %}
{% if request.user == person %}
<a href="{% url 'accounts:change' %}">회원정보수정</a>
<form action="{% url 'accounts:delete' %}" method=POST>
{% csrf_token %}
<input type="submit" value="회원탈퇴">
</form>
</a>
{% endif %}
{% comment %} 
<h3>{{ person.username }}가 작성한 댓글</h3>
{% for review in person.post_set.all %}
<p>{{ review.title }}</p>
{% endfor %}
 {% endcomment %}

{% comment %} 
{% if request.user.is_authenticated and request.user == person %}
<h3>내가 좋아요 누른 글 목록</h3>
{% for review in person.post_set.all %}
<p>{{ review.title }}</p>
{% endfor %}
 {% endcomment %}
{% endblock %}
