{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="display: flex;">
<h1>{{ person.username }}</h1>&nbsp&nbsp&nbsp&nbsp&nbsp
{% if request.user == person %}
<a href="{% url 'accounts:change' %}"><button class="btn-gold" style="width: 150px; height: 40px; padding: 10px;">회원정보 수정</button></a>
&nbsp&nbsp&nbsp
{% else %}
<div>
  <form id="follow-form" data-user-id="{{ person.pk }}" data-request-user-name="{{ request.user }}" data-request-user-img="{{ request.user.profile_img }}" style="margin-top: 5px;">
        {% csrf_token %}
        {% if user in person.followers.all %}
          <button class="btn-gold" style="width: 120px; padding: 10px;">언팔로우</button>
        {% else %}
          <button class="btn-gold" style="width: 120px; padding: 10px;">팔로우</button>
        {% endif %}
      </form>
</div>
{% endif %}
</div>
<hr style="margin-top: 8px;">
<div style="display: flex;">
<span>게시글 : {{ person.post_set.all|length }}</span>
,&nbsp&nbsp&nbsp
{% with followings=person.followings.all followers=person.followers.all %}
  <div id="follow-cnt">
    <div><a href="#"data-bs-toggle="modal" data-bs-target="#exampleModal-followings" class="follow">팔로우 : {{ followings|length }}</a>
    ,&nbsp&nbsp&nbsp<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-followers" class="follower">팔로워 : {{ followers|length }}</a></div>
  </div>
  {% comment %} ---
  {% if user != person %}
    <div>
      <form id="follow-form" data-user-id="{{ person.pk }}">
        {% csrf_token %}
        {% if user in followers %}
          <button>언팔로우</button>
        {% else %}
          <button>팔로우</button>
        {% endif %}
      </form>
    </div>
  {% endif %}
  --- {% endcomment %}
{% endwith %}
</div>
{% if person.email %}
<br>
<span>이메일 : {{ person.email }}</span>
{% endif %}
{% if person.profile_img %}
<br>
<br>
  <span>프로필 사진 : <img src="{{ person.profile_img.url }}" alt="profile_img" style="width: 50px; height: 50px;"></span>
{% endif %}
<hr>
<h3>{{ person.username }}가 작성한 글</h3>
{% for post in person.post_set.all %}
<p><a href="{% url 'community:community_detail' post.pk %}">{{ post.title }}</a></p>
{% empty %}
<p>작성한 글이 없습니다.</p>
{% endfor %}
<hr>
<h3>{{ person.username }}가 작성한 댓글</h3>
{% for comment in person.communitycomment_set.all %}
<p><a href="{% url 'community:community_detail' comment.post.pk %}">{{ comment.content }}</a></p>
{% empty %}
<p>작성한 댓글이 없습니다.</p>
{% endfor %}
<hr>
<h3>{{ person.username }}가 좋아요 누른 글</h3>
{% for post in person.like_post.all %}
<p><a href="{% url 'community:community_detail' post.pk %}">{{ post.title }}</a></p>
{% empty %}
<p>좋아요 누른 글이 없습니다.</p>
{% endfor %}
<hr>
<h3>{{ person.username }}가 평점 남긴 영화</h3>
{% for moviereview in person.moviereview_set.all %}
<p><a href="{% url 'movies:movie_detail' moviereview.movie.pk %}">{{ moviereview.movie }} / 내용 : {{ moviereview.content }} 평점 : {{ moviereview.get_rank_display }}</p></a></p>
{% empty %}
<p>평점을 남긴 영화가 없습니다.</p>
{% endfor %}


<div class="modal fade" id="exampleModal-followings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="background-color : rgba(50, 40, 31, 0.55);">
      <div class="modal-content" style="background-color : rgba(50, 40, 31, 0.55);">
      <p style="margin: 15px 10px 0; font-size: 20px">팔로우</p>
      <hr>
      {% for follow in person.followings.all %}
      <p><a href={% url 'accounts:profile' follow.username %}>
      {% if follow.profile_img %}
      <img src="{{ follow.profile_img.url }}" alt="" style="
      width: 50px; height: 50px; 
      margin-left: 15px;
      -webkit-border-radius: 30px;">      
      {% else %}
      <img src="{% static 'images/default-profile-img.png' %}" alt=""style="
      width: 50px; height: 50px; 
      margin-left: 15px;
      -webkit-border-radius: 30px;">
      {% endif %}&nbsp&nbsp
      {{ follow.username }}
      </a></p>
      {% endfor %}      
      <button type="button" class="btn-gold" data-bs-dismiss="modal" aria-label="Close" style="">Close</button>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal-followers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="background-color : rgba(50, 40, 31, 0.55);">
      <div class="modal-content" style="background-color : rgba(50, 40, 31, 0.55);">
      <p style="margin: 15px 10px 0; font-size: 20px">팔로워</p>
      <hr>
      <div class='follower-box'>
      {% for follower in person.followers.all %}
      <p class="follow-atag-{{ follower }}"><a href={% url 'accounts:profile' follower.username %}>
      {% if follower.profile_img %}
      <img src="{{ follower.profile_img.url }}" alt="" style="
      width: 50px; height: 50px; 
      margin-left: 15px;
      -webkit-border-radius: 30px;">
      {% else %}
      <img src="{% static 'images/default-profile-img.png' %}" alt=""style="
      width: 50px; height: 50px; 
      margin-left: 15px;
      -webkit-border-radius: 30px;">
      {% endif %}&nbsp&nbsp
      {{ follower.username }}</a></p>
      {% endfor %}
      </div>
      <button type="button" class="btn-gold" data-bs-dismiss="modal" aria-label="Close" style="">Close</button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    const form = document.querySelector('#follow-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const userId = event.target.dataset.userId
      const requestUserName = event.target.dataset.requestUserName
      const requestUserImg = event.target.dataset.requestUserImg

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          const followBtn = document.querySelector('#follow-form > button')
          const isFollowed = response.data.isFollowed
          const followers_cnt = response.data.followers_cnt
          const followings_cnt = response.data.followings_cnt
          const followCountDivfollow = document.querySelector('#follow-cnt > div > .follow')
          const followCountDivfollower = document.querySelector('#follow-cnt > div > .follower')

          if (isFollowed === true) {
            const followerBox = document.querySelector('.follower-box')
            console.log(followerBox)
            followBtn.innerText = '언팔로우'
            var parentP = document.createElement("p")
            parentP.innerHTML = `<a href='http://127.0.0.1:8000/accounts/${requestUserName}/'>
            <img src="/media/${requestUserImg}" alt="" style="
            width: 50px; height: 50px; 
            margin-left: 15px;
            -webkit-border-radius: 30px;">&nbsp&nbsp&nbsp&nbsp${requestUserName}</a>`
            //parentP.innerText = `${requestUserName}`
            parentP.setAttribute("class", `follow-atag-${requestUserName}`)
            followerBox.append(parentP)
          } else {
            followBtn.innerText = '팔로우'
            const followTag = document.querySelector(`.follow-atag-${requestUserName}`)
            followTag.remove()
          }
          followCountDivfollow.innerText = `팔로우 : ${followings_cnt}`
          followCountDivfollower.innerText = `팔로워 : ${followers_cnt}`
        })
    })
  </script>
{% endblock script %}