{% extends 'base.html' %}
{% block content %}

<h1>{{ person.username }}</h1>
<h2>followers : {{ person.followers.all|length }}</h2>
<h2>followings : {{ person.followings.all|length }}</h2>
{% if request.user.is_authenticated and request.user != person %}
  <form action="{% url 'accounts:follow' person.username %}" method="POST">
    {% csrf_token %}
    {% if request.user in person.followers.all %}
      <button>Unfollow</button>
    {% else %}
      <button>Follow</button>
    {% endif %}
  </form>
{% endif %}

{% endblock %}