{% extends 'base.html' %}
{% block content %}
<h1>Signup</h1>
<hr>
<form action="" method="POST">
{% csrf_token %}
{% comment %} {{ form.as_p }} {% endcomment %}
<p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"></p>
<p><label for="id_password">Password:</label> <input type="password" name="password" autocomplete="new-password" required="" id="id_password"> </p>
<p><label for="id_password_confirm">Password confirmation:</label> <input type="password" name="password_confirm" autocomplete="new-password" required="" id="id_password_confirm"></p>
<p><label for="id_email">Email address:</label> <input type="email" name="email" maxlength="254" id="id_email"></p>
<div>
  <h3><label for="yy">생년월일</label></h3>
  <div id="birth_wrap">
    <div id="bitrth_year">
        <span class="box">
            <input type="text" id="year" class="int" maxlength="4" placeholder="년(4자)">
        </span>
    </div>

    <div id="birth_momth">
        <span class="box">
            <select id="month">
                <option>월</option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>                                    
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </span>
    </div>

    <div id="birth_day">
        <span class="box">
            <input type="text" id="year" class="int" maxlength="2" placeholder="일">
        </span>
    </div>
  </div>
  <span class="error_next_box"></span>    
</div>
<button class="btn-gold">Signup</button>


</form>
{% endblock %}
