{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">

  <title>Document</title>
  <style>
  {% comment %} input 타입 css {% endcomment %}
  input[type="text"], input[type="password"], input[type="email"], textarea {
  color: rgba(223,190,106,0.7); background: #231f20; padding: 5px; border: solid 1px; border-color: rgba(223,190,106,0.7); line-height: 17px;
}
  input[type="file"] > button {
    color: #fff;
    border: 1px solid rgba(223,190,106,0);
    color: white;
    background-position: 99% 50%;
  }
  {% block css %}
  {% endblock css %}
  </style>
  
  <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
{% comment %} navbar {% endcomment %}
<nav style=" position:-webkit-sticky;position:sticky;top:0;z-index:1020; background: #231f20;  line-height: 70px; height: 70px; margin: 0px; display: flex; justify-content: space-between;">
  <div>
    <div style="display: flex; width: 300px; justify-content: space-between; margin-left: 20px;">
    {% comment %} 처음 출력 페이지로 이동 {% endcomment %}
      <div><a href="{% url 'main' %}">배배</a></div>
      {% comment %} dropdown형식으로 출력 {% endcomment %}
      <div class="nav-item dropdown" style="">
        <a class="nav-link dropdown" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0;">    
        <p style=" justify-content: center; padding: 0;">영화 추천</p>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2" style="
        background-color: rgba(50, 40, 31, 1); opacity : 1; min-width: 110px;
        padding: 0;
        text-align: center;
        ">
          <a href="{% url 'movies:movie_index' %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">높은 평점</button></a>
          <a href="{% url 'movies:tmdb_popular' %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">인기 영화</button></a>
          <a href="{% url 'movies:face_recommends' %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">연령대 추천</button></a>
          <a href="{% url 'movies:genre_recommends' 0 %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">장르별 추천</button></a>
          
        </ul>
      </div>
      <div class="nav-item dropdown" style="">
        <a class="nav-link dropdown" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0;">    
        <p style=" justify-content: center; padding: 0;">영화 목록</p>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown3" style="
        background-color: rgba(50, 40, 31, 1); opacity : 1; min-width: 120px;
        padding: 0;
        text-align: center;
        ">
          <a href="{% url 'movies:movie_list' %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">전체 목록</button></a>
          <a href="{% url 'movies:tmdb_upcoming' %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">개봉 예정</button></a>
          <a href="{% url 'movies:tmdb_now_playing' %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">현재 상영 중</button></a>
          {% if request.user.is_authenticated %}
          <a href="{% url 'movies:rank_list' user.username %}"><button style="border: none; background-color: rgb(50, 40, 31, 1); color: rgba(223,190,106,0.7);">평점 남긴 영화</button></a>
          {% endif %}
        </ul>
      </div>
      <div><a href="{% url 'community:community_index' %}">커뮤니티</a></div>
    </div>
  </div>
  <div class="search" style="text-align: center;">
  {% comment %} 검색창 {% endcomment %}
  <form action="{% url 'movies:tmdb_search' %}" method="GET" style="height: 15px;">
    <label for="search-input1"></label>
    <input type="search" class='search-input1' placeholder="영화 제목을 입력하세요." name='search' size=100 style="
    color: rgba(223,190,106,0.7); background: #231f20; padding: 5px; border: solid 1px; border-color: rgba(223,190,106,0.7); line-height: 30px; margin-right: 200px;">
  </form>
  <br>
</div>
{% comment %} 계정 관련 내용을 dropdown 형식으로 출력 {% endcomment %}
  <div class="nav-item dropdown" style="margin-right: 40px;">
    <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0;">
    {% if request.user.profile_img %}
    <img src="{{ user.profile_img.url }}" alt="" style="
    width: 40px; height: 40px; 
    -webkit-border-radius: 40px;">
    {% else %}
    <img src="{% static 'images/default-profile-img.png' %}" alt=""style="
    width: 40px; height: 40px; 
    -webkit-border-radius: 40px;">
    {% endif %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgba(50, 40, 31, 1); opacity : 1;">
    {% if request.user.is_authenticated %}
      <a href="{% url 'accounts:profile' request.user.username %}"><button>내 정보</button></a>
      <br>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button style="
        outline: 0;
        width: 158px;
        border: 0;
        background-color : rgba(50, 40, 31, 0.55);
        color: rgba(223,190,106,0.7);">
        로그아웃</button>
      </form>
      {% else %}
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><button>로그인</button></a>
      <br>
      <a href="{% url 'accounts:signup' %}"><button>회원가입</button></a>
      {% endif %}
    </ul>
  </div>
</nav>
{% comment %} 로그인 modal {% endcomment %}
<div class="container" style="margin-top: 15px;">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="background-color : rgba(50, 40, 31, 0.55);">
      <div class="modal-content" style="background-color : rgba(50, 40, 31, 0.55);">
        <p style="margin-left: 15px; margin-top: 20px; font-size: 30px;">로그인</p>
        <hr>
        <div class="modal-body">
          <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <p><label for="id_username">아이디:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"></p><br>
            <p><label for="id_password">비밀번호:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password"></p>
            <br>
            <button class="btn-gold">로그인</button>
            <button type="button" class="btn-gold" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 40px;">닫기</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% block content %}  
  {% endblock content %}
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/964293759e.js" crossorigin="anonymous"></script>
  {% block script %}
  {% endblock script %}
</body>
</html>